@use './variables' as *;
@use './mixins';

.about-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  padding: 2rem 0 0;

  &__info {
    width: 90%;
    margin: 0 auto;
    text-align: center;

    &-btn {
      margin: 4rem 0 0;
    }
  }
  &__cover {
    width: 100%;

    &-img {
      min-height: 100%;
      object-fit: cover;
    }
  }
}

// Media Queries
// Over 1024px

@include mixins.mQ(large) {
  .about-section {
    flex-direction: row;
    margin: 0;
    min-height: 100vh;

    &__info {
      width: 48%;
      max-width: 500px;
      padding: 8rem 1.5rem;
      text-align: left;
    }
    &__cover {
      width: 48%;
      height: 100%;

      &-img {
        min-height: 100%;
        object-fit: cover;
      }
    }
  }
}
