@use './variables' as *;
@use './mixins';

.gallery {
  width: 95%;
  max-width: 1600px;
  margin: 0 auto;
  padding-top: 2rem;

  &__title {
    font-family: 'Playfair Display', serif;
    font-size: 3rem;
    text-align: center;
    color: $title-color;
    font-weight: 700;
    padding-bottom: 0.5rem;
    margin-bottom: 1rem;
  }

  &__backdrop {
    @include mixins.position(fixed, 0, 0, 0, 0);
    z-index: 5;
    background-color: rgba(0, 0, 0, 0.8);
    transform: translateY(100%);
    transition: transform 0.2s;

    &.js-active {
      transform: translateY(0);
    }

    &-controls {
      @include mixins.position(absolute, null, null, 15%, 50%);
      transform: translateX(-50%);
      width: 60%;
      margin: 0 auto;
      display: flex;
      justify-content: space-around;
      align-items: center;
      &-change-photo {
        width: 45%;
        display: flex;
        justify-content: space-between;
      }

      &-close {
        text-align: center;
      }
      &-previous,
      &-next,
      &-close {
        transform: scale(1);
        font-size: 5rem;
        color: $main-color;
        cursor: pointer;
        transition: color 0.3s, transform 0.3s;

        &:hover {
          transform: scale(1.1);
          color: $title-color;
        }
      }
    }

    &-pictureDescription {
      display: none;
    }
  }

  &__big {
    @include mixins.position(fixed, 50%, null, null, 50%);
    transform: translate(-50%, -550%);
    z-index: 6;
    transition: transform 0.5s;
    width: 85vw;
    height: 85vw;

    &.js-active {
      transform: translate(-50%, -50%);
    }

    &-photo {
      width: 100%;
      height: 100%;
      object-fit: contain;
      overflow: hidden;
      user-select: none;
    }
  }

  &__content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    justify-content: center;
    gap: 2rem;
    &-item {
      width: 40vw;
      height: 40vw;
      overflow: hidden;

      &:hover > img {
        cursor: pointer;
        transform: scale(1.1);
        transition: 0.3s linear;
      }

      &-img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        overflow: hidden;
      }
    }
  }
}

// Media queries

// Horizontal view for mobile devices

@media only screen and (max-height: 575.98px) and (orientation: landscape) {
  .gallery {
    &__backdrop {
      &-controls {
        position: initial;
        transform: none;
        width: auto;
        margin: auto;
        display: initial;

        &-change-photo {
          width: auto;
          display: initial;
        }

        &-close {
          text-align: center;
        }

        &-previous,
        &-next,
        &-close {
          @include mixins.position(absolute, 50%);
          transform: translateY(-50%) scale(1);
          font-size: 5rem;

          &:hover {
            transform: translateY(-50%) scale(1.1);
            color: $title-color;
          }
        }
        &-previous {
          left: 3%;
        }

        &-next {
          right: 3%;
        }

        &-close {
          top: 15%;
          transform: translateY(-50%);
          right: 3%;
        }
      }

      &-pictureDescription {
        display: none;
      }
    }

    &__big {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 65vw;
      height: auto;
      max-width: 1200px;
      &-photo {
        width: 100%;
        max-width: $website-width;
        height: auto;
        max-height: 88vh;
        overflow: hidden;
        user-select: none;
      }
    }

    &__content {
      gap: 2rem;
      &-item {
        width: 40vh;
        height: 40vh;
      }
    }
  }
}

// OVER 460PX
@include mixins.mQ(small) {
  .gallery {
    &__backdrop {
      &-controls {
        bottom: 10%;
      }
    }
  }
}
// OVER 550PX
@include mixins.mQ(smedium) {
  .gallery {
    width: 80%;

    &__backdrop {
      &-controls {
        &-change-photo {
          width: 35%;
        }
      }
    }

    &__content {
      gap: 2rem;
      &-item {
        width: 20vh;
        height: 20vh;
      }
    }
  }
}

// OVER 768PX
@include mixins.mQ(medium) {
  .gallery {
    &__title {
      font-size: 6rem;
      font-weight: 600;
    }
    &__backdrop {
      &-controls {
        position: initial;
        transform: none;
        width: auto;
        margin: auto;
        display: initial;

        &-change-photo {
          width: auto;
          display: initial;
        }

        &-close {
          text-align: center;
        }

        &-previous,
        &-next,
        &-close {
          @include mixins.position(absolute, 50%);
          transform: translateY(-50%) scale(1);
          font-size: 5rem;

          &:hover {
            transform: translateY(-50%) scale(1.1);
            color: $title-color;
          }
        }
        &-previous {
          left: 3%;
        }

        &-next {
          right: 3%;
        }

        &-close {
          top: 6%;
          transform: translateY(-50%);
          right: 3%;
        }
      }

      &-pictureDescription {
        display: initial;
        @include mixins.position(fixed, null, null, 5%, 50%);
        transform: translateX(-50%);
        color: $main-color;
        user-select: none;
        bottom: 5%;
        font-size: 2.3rem;
      }
    }

    &__big {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 65vw;
      height: auto;
      max-width: 1200px;
      &-photo {
        width: 100%;
        max-width: $website-width;
        height: auto;
        max-height: 80vh;
        overflow: hidden;
        user-select: none;
      }
    }

    &__content {
      gap: 2rem;
      &-item {
        width: 19vh;
        height: 19vh;
      }
    }
  }
}

// OVER 1024PX
@include mixins.mQ(large) {
  .gallery {
    &__content {
      gap: 2rem;
      &-item {
        width: 26vh;
        height: 26vh;
      }
    }
  }
}

// OVER 1200PX
@include mixins.mQ(xlarge) {
  .gallery {
    &__content {
      &-item {
        width: 31vh;
        height: 31vh;
      }
    }
  }
}
