@use './variables' as *;
@use './mixins';

.page-banner {
  min-height: 30vh;
  overflow: hidden;
  padding: 0;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;

  &--header {
    background-image: url(/src/img/head-banner-m.jpg);
  }
  &--mobile {
    background-image: url(/src/img/mobile-banner.jpg);
  }
  &--footer {
    background-image: url(/src/img/footer-banner-s.jpg);
  }
  &--over-m-only {
    display: none;
  }
}

// Media Queries
// Over 768px

@include mixins.mQ(medium) {
  .page-banner {
    min-height: 50vh;

    &--header {
      background-image: url(/src/img/head-banner-m.jpg);
    }

    &--footer {
      background-image: url(/src/img/footer-banner-m.jpg);
    }

    &--s-only {
      display: none;
    }

    &--over-m-only {
      display: block;
    }
  }
}
